[access]
	inheritFrom = ansible/roles
[project]
	description = Ansible lf-dev-libs role. Installs the recommended development libraries used in LF build instances
[access "refs/*"]
	read = group GitHub Replication
	read = group Gitlab Replication
	owner = group saml/lf-gerrit-ansible-roles-lf-dev-libs-committers
